<div class="template-8">
    <div class="media">
        <!--ng-show="card.media.image"-->
        <img class="image" ng-src="{{switchImage(card)}}" >
    </div>

    <div class="content pv-24 ph-16">
        <div class="title h1" ng-if="card.name">
            {{card.name}}
        </div>

        <div class="subtitle secondary-text" ng-if="card.company_name">
            {{card.company_name}}
        </div>

        <div class="buttons pt-16">
            <!--<md-button class="m-0">{{card.button1}}</md-button>-->
            <md-button class="m-0 md-accent md-raised" ng-click="gotoProductDetail(card.id)">Details</md-button>
        </div>

        <div class="text pt-16" ng-if="card.description">
            {{trim(card.description)}}
        </div>
    </div>
</div>

 